/* --- General Layout ---
------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14pt;
}

body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    color: #454545;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    position: relative;
    top: 180px;
}

section {
    display: block;
    justify-content: space-between;
}

section.darkbg {
    background-color: #454545;
}

a {
    color: #454545;
    padding: 0;
    margin: 0;
}

a:visited {
    color: #454545;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #3498db;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2em;
    color: #5c5c5c;
}

section.darkbg h2 {
    color: #fff;
}

hr {
    margin: 1em auto;
    margin-bottom: 3rem;
}

hr.lightbg {
    width: 30%;
    height: 3px;
    border: 0;
    background: radial-gradient(grey, white 90%);
}

hr.darkbg {
    width: 30%;
    height: 3px;
    border: 0;
    background: radial-gradient(white, #454545 80%);
}

:root {
    --width: 100vw;
}

.darkbg p {
    color: #fff;
}

.linkDstPlaceholder {
    height: 50px;
}


/* --- Header ---
----------------- */

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 135px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}

div#logo {
    display: grid;
    gap: 0;
    margin: 0 auto;
    align-content: center;
    min-width: 0;
}

#logo img {
    align-self: center;
    padding-top: 0.25em;
    width: 50%;
}

p#mission {
    align-self: center;
    font-family: cursive;
    /* padding: 0.5em; */
}

nav {
    width: 70%;
    padding: 1em 5% 0 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    width: 20%;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* --- Welcome ---
------------------ */

#welcome {
    height: 600px;
    background-image: radial-gradient(rgba(52, 177, 196, 0.5), rgba(255, 255, 255, 0.5)), url("../img/backgroundMedicalIT.jpg");
    background-size: cover;
}

#welcome p {
    font-size: 4em;
    font-weight: 800;
    color: #fff;
    text-shadow: 3px 5px 7px grey;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 0 3rem;
    letter-spacing: 0.05em;
}

p#specialty {
    font-size: 1.2em;
    color: #eeeeee;
}


/* --- About ---
---------------- */

div#upperPart {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

p#skillTitle {
    text-decoration: underline;
    color: #454545;
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.5em 0 0.5em 0;
    text-align: justify;
    margin: 0 auto;
}

div#upperPart ul {
    list-style-type: none;
    padding-bottom: 1em;
}

div#upperPart li {
    padding: 0.5em;
}

div#upperPart li span.catalog {
    color: #303030;
    font-weight: 600;
}

div#lowerPart {
    background-color: rgb(80, 190, 225);
    text-align: center;
}

div#content-wrapper {
    display: grid;
    grid-template-columns: repeat(7 1fr);
    padding: 3em 10%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#content-wrapper img {
    grid-column: 1/2;
    height: 150px;
    margin: 0 auto;
    align-self: center;
}

div#content-wrapper p {
    grid-column: 2/4;
    align-self: center;
    margin: 0 auto;
    padding: 1em 2em;
    font-size: larger;
}

div#content-wrapper article {
    grid-column: 4/8;
    align-self: center;
    margin: 0 auto;
    border-left: 1pt solid #fff;
}

div#content-wrapper article p {
    padding: 1em 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 100;
    line-height: 1.3em;
    text-align: justify;
}

p#dwnlink {
    margin: 0 auto;
    padding-bottom: 1em;
}

p#dwnlink a {
    color: #fff;
}


/* --- Projects and Services ---
-------------------------------- */

.module-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

div.module {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    max-height: 600px;
    width: 360px;
    box-shadow: 0px 0px 20px grey;
}

p.projectName {
    margin: 0 auto;
    padding: 5% 5% 0 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.07em;
    font-size: larger;
}

p.projectRole {
    margin: 0 auto;
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cccccc;
}

div.module-pic {
    height: 200px;
    width: 360px;
}

#pic1 {
    background-image: url(../img/bloodtypegenerator.jpg);
}

#pic2 {
    background-image: url(../img/rarebloodgroups.jpg);
    background-position: -10% 0%;
}

#pic3 {
    background-image: url(../img/bloodLibrary.jpg);
    background-size: cover;
    background-position: 0% 10%;
}

#pic4 {
    background-image: url(../img/ExtendedBloodTyping.jpg);
}

#pic5 {
    background-image: url(../img/PLTabTest.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#pic6 {
    background-image: url(../img/BBMS.png);
    background-size: contain;
}


/* --- Contact ---
------------------ */

#contactForm {
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 40px;
}

input.inputLine {
    width: 95%;
    float: left;
    height: 2.5em;
    padding: 0;
    margin: 50px 2%;
    color: #aaa;
    border: none;
    border-bottom: 2px solid #777;
    background-color: #404040;
    font-size: 1.2em;
}

textarea {
    width: 95%;
    height: 7em;
    padding: 2%;
    margin: 50px 2%;
    float: left;
    color: #999;
    border: 2px solid #777;
    border-top: none;
    background-color: #404040;
    font-size: 1.2em;
}

button {
    color: #fff;
    background-color: #34b1c4;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 1.5em;
    border: none;
    margin: 50px 2%;
}

div#email {
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#email a {
    color: #fff;
}


/* --- Footer ---
------------------ */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 53, 57, 0.98);
    color: rgb(165, 165, 165);
    text-align: center;
    line-height: 2rem;
    padding: 1rem 0 0.5rem 0;
    box-shadow: 0px -2px 10px grey;
}