<!--header begins-->
<header>
    <div id="logo">
        <a href="index.htm"><img src="img/logo.png" alt="logo"></a>
        <p id="mission">Design for fun</p>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<!--header ends-->