<!DOCTYPE html>
<html>

<head>
    <title>Assignment 1: COMP229-003 W22
    </title>
    <!--Student name: Johnny Zhiyang Song-->
    <!--Student ID: 301167073-->
    <!--Date: Feb. 5, 2022-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--web icon-->
    <link rel="icon" href="img/logo.png">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!--JavaScrit-->
    <script src="script/script.js" async defer></script>
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <!--Contact section begins-->
        <section id="contact" class="darkbg">
            <div id="profile" class="linkDstPlaceholder"></div>
            <div class="secTitle">
                <h2 class="darkbg">Let's Get In Touch</h2>
                <hr class="darkbg">
            </div>
            <form id="contactForm" action="" method="get">
                <input class="inputLine" type="text" name="fullName" placeholder="Type in your full name here..." required>
                <input class="inputLine" type="text" name="emailAddr" placeholder="Type in your email address here..." required>
                <textarea class="comment" name="messageArea" placeholder="Leave a message..."></textarea>
                <button type="submit">Send message</button>
                <div id="ejs">
                    <%- engine %>
                </div>
            </form>
            <div id="email">
                <p>You are welcomed to email me directly as well</p>
                <a href="zsong22@my.centennialcollege.ca">
                zsong22@my.centennialcollege.ca
            </a>
            </div>
        </section>
        <!--Contact section ends-->

        <%- include("../partials/footer.ejs") %>
</body>

</html>